.scrollbarHidden {
  /* 隐藏滚动条视觉（不影响滚动行为） */
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

.scrollbarHidden::-webkit-scrollbar {
  /* Chrome/Safari/Edge */
  width: 0 !important;
  height: 0 !important;
  display: none;
}
